* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}
.res-card {
  margin-top: 15px;
  min-height: 100px;
  width: 200px;
  border: 1px solid black;
  margin-right: 20px;
}

.res-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.res-card-img {
  width: 90%;
  padding: 10px;
}

.res-card-inner-text {
  text-align: center;
}
